<header>
  <div id="header" class="row">
    <div class="col-md-4 col-xs-6 mt-3">
      <p>Professionalism, Pride, Attention to Detail</p>
    </div>
    <div class="col-md-4 col-xs-6 mt-2">
      <h1>Consult Brian</h1>
    </div>
    <div class="socialmedia col-md-4  mt-3 mb-2">
        
        <a href="https://www.instagram.com/consultbriansd"><i class="fab fa-instagram fa-2x"></i></a>&nbsp;
        <a href="https://twitter.com/ConsultBrianSD"><i class="fab fa-twitter fa-2x"></i></a>&nbsp;
        
        <a routerLink="contact"><i class="fas fa-phone fa-2x"></i>&nbsp;Free Estimates</a>
    </div>
  </div>
</header>

