<footer class="footer">
  <nav  class="navbar navbar-expand fixed-bottom navbar-light"  >
    <!-- <a  class="navbar-brand"  routerLink="/home">Portfolio</a> -->
    <div  class="collapse navbar-collapse"  id="navbarText">
    <ul  class="navbar-nav">
    <li  class="nav-item">
    <a  class="nav-link"  routerLink="/home"><i class="fas fa-home"></i><br>Home</a>
    </li>
    <li  class="nav-item">
      <a  class="nav-link"  routerLink="/services"><i class="fas fa-list-ul"></i><br>Serivces</a>
    </li>
    <li  class="nav-item">
      <a  class="nav-link"  routerLink="/photos"><i class=" fa fa-camera"></i><br>Photos</a>
    </li>  
    <li  class="nav-item">
    <a  class="nav-link"  routerLink="/contact"><i class="far fa-envelope"></i><br>Contact Me</a>
    </li>
    <!-- <li  class="nav-item">
    <a  class="nav-link"  routerLink="/admin/home">Admin</a>
    </li> -->
    </ul>
    </div>
    </nav>
</footer>
