<h2><a  class="nav-link"  routerLink="./home">Admin Interface</a></h2>
<div class="row">
<div class="col-2">
  
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" routerLink="./home">Admin Home</a>
          </li>
      <li>Users</li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="./users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./new-user">New User</a>
      </li>
      <ul class="nav">
        <li>Projects</li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./list">Projects List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./create">New Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./create">New Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="./create">New Project</a>
        </li>
      </ul>
      
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
</div>
<div class="col-10">
    <router-outlet></router-outlet>
</div>
</div>
