/* You can add global styles to this file, and also import other style files */
.aside{
    padding-left: 50px;
}

a{
   color: #093c67
}
header{
   padding-right: 5px;
   margin: 0px 10px 0px 10px;
   border-bottom-left-radius : 15px;
   border-bottom-right-radius : 15px;
   border-left: 1px solid #093c67 ;
   border-right: 1px solid #093c67 ;
   border-bottom: 1px solid #093c67 ;
   text-align: center;
   color: #000;
}
header a{
   color: #093c67;
}
#freeEstimates{
   border: 1px solid rgb(255, 145, 0);
   padding: 12px 6px 3px 3px;

}
#yelp-biz-badge-rrc-GiqOavEFHgzQqcHRZnJadg{
   float: right;
   margin-top: 10px;
   margin-right: 120px;
}

.socialmedia{
   display: block;
   /* float:  right; */
   text-align: center;
   padding-right: 30px
}
.lead{
   color: #093c67;
}

p{
   font-size: 1.15rem;
}